<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dema.versatile.flashlight">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".main.LightActivity"></activity>
        <activity
            android:name=".main.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.settings.NotificationSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.function.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.function.AnimActivity"
            android:screenOrientation="portrait" /> <!-- admob -->
        <activity
            android:name=".main.MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.splash" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.ColorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.settings.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.BatteryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.BatteryAlert"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity="com.flash.light"
            android:theme="@style/style_translucent" />

        <meta-data
            android:name="com.inmobi.ads.ACCOUNT_ID"
            android:value="ef16c50a7b0749dab0fccfe9dae65fa2" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2608933756752476~5697672677" />
        <!-- android:value="ca-app-pub-9195446338192028~1063508307" -->


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="0" />
    </application>

</manifest>